#profile-update-form input,
#profile-update-form select,
#profile-update-form textarea {
    color: grey;
}

#profile-update-form select {
    color: grey;
}

#profile-update-form select option {
    color: black;
}
