/* Card Styles for Products */
.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-title {
    font-weight: bold;
    font-size: 1.25rem;
    color: #333333;
}

.card-text {
    font-size: 0.9rem;
    color: #666666;
}

/* whislist */
.product-image {
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
}

.d-flex.align-items-center {
    display: flex;
    align-items: center;
}

.product-info {
    margin-left: 15px;
}

.text-black-custom {
    color: black;
}

a.text-black-custom{
    text-decoration: none; /* Remove underline */
}

a.text-black-custom:hover{
    text-decoration: underline;
    color: #333333;
}

.product-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    .product-name {
        max-width: 150px;
    }
}