{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card shadow-lg border-0 rounded-3">
                    <div class="card-body text-center">
                        <h1 class="display-4 logo-font text-black">
                            The page you are looking for isn't available
                        </h1>
                        <div class="my-5">
                            <h4>
                                <a href="{% url 'home' %}" 
                                    class="btn btn-outline-secondary btn-lg rounded-0 text-uppercase py-3">
                                    Return to home
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}