{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'plan/css/plan.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Your Exercise Plans</h1>

    {% if request.user.is_authenticated %}
        {% if exercise_plans %}
            <div class="row">
                {% for plan in exercise_plans %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card custom-card shadow-sm border-light">
                            <div class="card-header">
                                <h5 class="card-title text-center">{{ plan.title }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ plan.description|truncatewords:30 }}</p>

                                {% if max_plans > 0 and forloop.counter <= max_plans %}
                                    <a href="{{ plan.file.url }}" class="btn btn-outline-secondary btn-block mt-2" download>
                                        Download Plan
                                    </a>
                                {% else %}
                                    <p class="text-center mt-2 text-muted">
                                        {% if max_plans == 0 %}
                                            Upgrade your subscription to download.
                                        {% else %}
                                            You have reached your download limit.
                                        {% endif %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">No exercise plans available.</p>
        {% endif %}
    {% else %}
    {% if not request.user.is_authenticated %}
        <div class="alert text-center">
            <p>You need to <a href="{% url 'account_login' %}?next={{ request.path }}">log in</a> to access full features.</p>
        </div>
    {% endif %}
    {% endif %}





</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    $(document).ready(function() {
        $('.toggle-description').click(function() {
            var planId = $(this).data('plan-id');
            
            var shortDescription = $('#description' + planId + ' .short-description');
            var fullDescription = $('#description' + planId + ' .full-description');
            
            shortDescription.toggleClass('d-none');
            fullDescription.toggleClass('d-none');

            var button = $(this);
            if (fullDescription.hasClass('d-none')) {
                button.text('Learn More');
            } else {
                button.text('Learn Less');
            }
        });
    });
</script>
{% endblock %}
