.text-truncate {
    max-width: 200px;
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: inherit;
    -webkit-overflow-scrolling: touch;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.container .row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 10px;
}

.product-image {
    width: 80px;  
    height: auto;
}

@media (max-width: 480px) {
    .table, .table th, .table td {
        border: none;
    }

    thead {
        display: none;
    }

    .table td {
        display: block;
        position: relative;
        text-align: left;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        top: 10px;
        font-weight: bold;
    }

    .product-image {
        width: 500px;
        height: auto;
        margin-bottom: 10px;
    }
    .table td.spacing {
        padding-left: 25%;
    }
}
