{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Your Wishlist</h1>
    <ul class="list-group">
        {% for item in wishlist_items %}
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-4 col-sm-3 col-md-2 mb-3 mb-md-0">
                    <a href="{% url 'product_detail' item.product.id %}" class="product-link d-block">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" class="img-fluid product-image" alt="{{ item.product.name }}">
                        {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid product-image" alt="default product image">
                        {% endif %}
                    </a>
                </div>
                
                <div class="col-8 col-sm-6 col-md-8">
                    <a href="{% url 'product_detail' item.product.id %}" class="text-black-custom">
                        <strong class="d-block product-name">{{ item.product.name }}</strong>
                    </a>
                    <div class="text-muted">
                        {% if item.product.rating %}
                            <small>Rating: {{ item.product.rating }} / 5</small>
                        {% else %}
                            <small>Not Rated</small>
                        {% endif %}
                    </div>
                    <div><strong>${{ item.product.price }}</strong></div>
                </div>
                
                <div class="col-12 col-sm-3 col-md-2 text-end">
                    <a href="{% url 'remove_from_wishlist' item.product.id %}" class="btn btn-danger btn-sm">
                        Remove
                    </a>
                </div>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item text-center">Your wishlist is empty.</li>
        {% endfor %}
    </ul>

    <div class="mt-4 text-center">
        <a href="{% url 'product_page' %}" class="btn btn-outline-secondary">
            <i class="fa-solid fa-chevron-left"></i> Back to Shopping
        </a>
    </div>
</div>
{% endblock %}
